## Question 1

Who is my competition?: 
   * Top Studios producing the most films. (total number of films produced  by studio) X=studio name y= total movies produced 
   * Top Studios making the most income.  x = studio name, y = total gross income or avg gross income.

## Data Modeling

In [2]:
## Describe and justify the process for analyzing or modeling the data.

## Questions to consider:

# How did you analyze or model the data?
# How did you iterate on your initial approach to make it better?
# Why are these choices appropriate given the data and the business problem?

In [8]:
import pandas as pd
%store -r studios_df
%store -r genres_df

In [9]:
studios_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3382 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movie           3382 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3382 non-null   float64
 3   foreign_gross   3382 non-null   float64
 4   year            3382 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 158.5+ KB

In [65]:
x = studios_df.groupby(studios_df['studio']).agg({'movie':['count']}).sort_values('')

TypeError: sort_values() missing 1 required positional argument: 'by'

In [10]:
genres_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62811 entries, Sunghursh to Sokagin Ã‡ocuklari
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  62811 non-null  object
dtypes: object(1)
memory usage: 981.4+ KB

In [14]:
q1_df = pd.merge(studios_df, genres_df, on='movie', how='inner')
q1_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 477 entries, 0 to 476
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movie           477 non-null    object
 1   studio          477 non-null    object
 2   domestic_gross  477 non-null    float64
 3   foreign_gross   477 non-null    float64
 4   year            477 non-null    int64
 5   genres          477 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 26.1+ KB

In [41]:
df = q1_df.groupby([q1_df.studio, q1_df.genres]).agg({'movie': ['count']}).sort_values('genres')

In [43]:
df.head(20)

                 movie
                 count
studio genres
LGP    Action        1
WGUSA  Action        1
UTV    Action        2
CL     Action        4
Sony   Action        1
Eros   Action        1
LGF    Action        1
Uni.   Action        4
Wein.  Action        2
RME    Action        1
FoxS   Action        1
Osci.  Action        1
Orch.  Action        1
IFC    Action        1
KL     Action        1
Magn.  Action        4
Fox    Action        1
CJ     Action        2
SGem   Adventure     1
FIP    Adventure     1